@charset 'utf-8';
@import 'settings';
@import 'mixins';
@import 'foundation';
@include foundation-global-styles;
@include foundation-typography;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

%clearfix {
  @include clearfix();
}

.outer {
  max-width: 100%;
  overflow: hidden;
}

.page-wrap {
  max-width: $global-width;
  margin: 0 auto;
}

a {
  text-decoration: underline;
}
//header

.header {
  position: relative;

  .logo {
    position: absolute;
    margin: $grid-column-gutter/2;
  }
}
//Navigationen

.nav-bar {
  position: relative;
}
//menu-button

.menu-button {
  background: $green;
  color: $white;
  padding: $grid-column-gutter/4;

  .symbol {
    width: rem-calc(40);
    height: rem-calc(40);
  }
}
@include breakpoint(large) {
  .menu-button {
    display: none;
  }
}
//main-menu

.main-menu {
  list-style-type: none;
  margin: 0;

  li {
    border-left: rem-calc(55) solid;
  }

  .orange {
    border-color: $orange;

    &:focus,
    &:hover {
      background: $hover-orange;
    }
  }

  .rosa {
    border-color: $rosa;

    &:focus,
    &:hover {
      background: $hover-rosa;
    }
  }

  .blue {
    border-color: $blue;

    &:focus,
    &:hover {
      background: $hover-blue;
    }
  }

  .olive {
    border-color: $olive;

    &:focus,
    &:hover {
      background: $hover-olive;
    }
  }

  .red {
    border-color: $red;

    &:focus,
    &:hover {
      background: $hover-red;
    }
  }

  .turquoise {
    border-color: $turquoise;

    &:focus,
    &:hover {
      background: $hover-turquoise;
    }
  }

  a {
    padding: $grid-column-gutter/2;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: $green;
    font-size: rem-calc(16);
    font-family: 'Noto Sans', sans-serif;
  }
}
@include breakpoint(large) {
  .main-menu {
    li {
      float: left;
      width: rem-calc(130);
      border-left: 0;
      border-top: rem-calc(25) solid;
      text-align: center;
    }
  }
}
//lang-menu

.lang-menu {
  list-style-type: none;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;

  li {
    display: inline;

    a {
      padding: $grid-column-gutter/2;
      display: inline-block;
      text-decoration: none;
      color: $green;
      font-family: 'Noto Sans', sans-serif;
      font-size: rem-calc(16);

      &:focus,
      &:hover {
        background: $hover-green;
      }
    }
  }
}
@include breakpoint(large) {
  .lang-menu {
    li {
      a {
        padding: $grid-column-gutter/4;
      }
    }
  }
}
