@charset 'utf-8';
@import 'settings';
@import 'mixins';
@import 'foundation';
@include foundation-global-styles;
@include foundation-typography;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

%clearfix {
  @include clearfix();
}

.outer {
  max-width: 100%;
  overflow: hidden;
}

.page-wrap {
  max-width: $global-width;
  margin: 0 auto;
}

a {
  text-decoration: underline;
}
//header

.header {
  position: relative;

  .logo {
    position: absolute;
    margin: $grid-column-gutter/2;
  }
}

//Navigationen

.nav-bar{
  position: relative;
}

//menu-button

.menu-button {
  background: $green;
  color: $white;
  padding: $grid-column-gutter/4;

  .symbol {
    width: rem-calc(40);
    height: rem-calc(40);
  }
}
//main-menu

.main-menu {
  list-style-type: none;
  margin: 0;

  .orange {
    border-left: 55px solid $orange;

    &:focus,
    &:hover {
      background: $hover-orange;
    }
  }

  .rosa {
    border-left: 55px solid $rosa;

    &:focus,
    &:hover {
      background: $hover-rosa;
    }
  }

  .blue {
    border-left: 55px solid $blue;

    &:focus,
    &:hover {
      background: $hover-blue;
    }
  }

  .olive {
    border-left: 55px solid $olive;

    &:focus,
    &:hover {
      background: $hover-olive;
    }
  }

  .red {
    border-left: 55px solid $red;

    &:focus,
    &:hover {
      background: $hover-red;
    }
  }

  .turquoise {
    border-left: 55px solid $turquoise;

    &:focus,
    &:hover {
      background: $hover-turquoise;
    }
  }

  a {
    padding: $grid-column-gutter/2;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: $green;
    font-size: rem-calc(16);
    font-family: 'Noto Sans', sans-serif;
  }
}
//lang-menu
.lang-menu {
  list-style-type: none;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  li{
    display: inline;
    a{
      padding: $grid-column-gutter/2;
      display: inline-block;
      text-decoration: none;
      color: $green;
      font-family: 'Noto Sans', sans-serif;
      font-size: rem-calc(16);
      &:hover,
      &:focus{
        background: $hover-green;
      }
    }
  }
}
